{% extends "layout.html" %}
{% block title %}
    Gallery
{% endblock %}

{% block main %}
    <div class="seventy-percent-div-column mt-5">
        <h1 class="text-center p-3">Wedding Photography</h1>
        <div class="row">
            <img src="static/imgs/pexels-photo-wed1.jpg" alt="Wedding Photography" class="img-fluid">
            <img src="static/imgs/pexels-photo-wed2.jpg" alt="Wedding Photography" class="img-fluid">
            <img src="static/imgs/pexels-photo-wed3.jpg" alt="Wedding Photography" class="img-fluid">
            <img src="static/imgs/pexels-photo-wed5.jpg" alt="Wedding Photography" class="img-fluid">
            <img src="static/imgs/pexels-photo-wed4.jpg" alt="Wedding Photography" class="img-fluid">
            <img src="static/imgs/pexels-photo-wed6.jpg" alt="Wedding Photography" class="img-fluid">
            <img src="static/imgs/pexels-photo-wed7.jpg" alt="Wedding Photography" class="img-fluid">
            <img src="static/imgs/pexels-photo-wed8.jpg" alt="Wedding Photography" class="img-fluid">
            <img src="static/imgs/pexels-photo-wed9.jpg" alt="Wedding Photography" class="img-fluid">
        </div>
    </div>
    <a href="{{ url_for('contact') }}" class="btn mt-5">Book Now</a>
    <div class="seventy-percent-div-column mt-5">
        <h1 class="text-center p-3">Portrait Photography</h1>
        <div class="row">
            <img src="static/imgs/google-portrait1.jpg" alt="Portrait Photography" class="img-fluid">
            <img src="static/imgs/google-portrait2.jpg" alt="Portrait Photography" class="img-fluid">
            <img src="static/imgs/google-portrait3.jpg" alt="Portrait Photography" class="img-fluid">
            <img src="static/imgs/google-portrait7.jpg" alt="Portrait Photography" class="img-fluid">
            <img src="static/imgs/google-portrait8.jpg" alt="Portrait Photography" class="img-fluid">
            <img src="static/imgs/google-portrait9.jpg" alt="Portrait Photography" class="img-fluid">
            <img src="static/imgs/google-portrait4.jpg" alt="Portrait Photography" class="img-fluid">
            <img src="static/imgs/google-portrait5.jpg" alt="Portrait Photography" class="img-fluid">
            <img src="static/imgs/google-portrait6.jpg" alt="Portrait Photography" class="img-fluid">
        </div>
    </div>
    <a href="{{ url_for('contact') }}" class="btn mt-5">Book Now</a>
    <div class="seventy-percent-div-column mt-5">
        <h1 class="text-center p-3">Family Photography</h1>
        <div class="row">
            <img src="static/imgs/google-family1.jpg" alt="Family Photography" class="img-fluid">
            <img src="static/imgs/google-family2.jpg" alt="Family Photography" class="img-fluid">
            <img src="static/imgs/google-family3.jpg" alt="Family Photography" class="img-fluid">
            <img src="static/imgs/google-family4.jpg" alt="Family Photography" class="img-fluid">
            <img src="static/imgs/google-family5.jpg" alt="Family Photography" class="img-fluid">
            <img src="static/imgs/google-family6.jpg" alt="Family Photography" class="img-fluid">
            <img src="static/imgs/google-family7.jpg" alt="Family Photography" class="img-fluid">
            <img src="static/imgs/google-family8.jpg" alt="Family Photography" class="img-fluid">
            <img src="static/imgs/google-family9.jpg" alt="Family Photography" class="img-fluid">
        </div>
    </div>
    <a href="{{ url_for('contact') }}" class="btn mt-5">Book Now</a>
    <div class="seventy-percent-div-column mt-5">
        <h1 class="text-center p-3">Lights City</h1>
        <div class="row">
            <img src="static/imgs/pexels-photo-lights1.jpg" alt="Light City" class="img-fluid">
            <img src="static/imgs/pexels-photo-lights2.jpg" alt="Light City" class="img-fluid">
            <img src="static/imgs/pexels-photo-lights3.jpg" alt="Light City" class="img-fluid">
            <img src="static/imgs/pexels-photo-road1.jpg" alt="Light City" class="img-fluid">
            <img src="static/imgs/pexels-photo-road2.jpg" alt="Light City" class="img-fluid">
            <img src="static/imgs/pexels-photo-road3.jpg" alt="Light City" class="img-fluid">
        </div>
    </div>
    <a href="{{ url_for('contact') }}" class="btn mt-5">Book Now</a>
{% endblock %}