{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}

{% block main %}

<div id="carouselEx" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselEx" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselEx" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselEx" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="image-container image-1">
          <div class="text-overlay">
            <h1>Text Over Image 1</h1>
            <p>This is an example of text overlaying an image.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="image-container image-2">
          <div class="text-overlay">
            <h1>Text Over Image 2</h1>
            <p>This is an example of text overlaying an image.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="image-container image-3">
          <div class="text-overlay">
            <h1>Text Over Image 3</h1>
            <p>This is an example of text overlaying an image.</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselEx" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselEx" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
  

{% endblock %}