{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}

{% block main %}

<div id="carouselEx" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="image-container image-1">
          <div class="text-overlay m-5">
            <h1 class="">FINDS YOUR LOCAL'S BEST ARTISTS</h1>
          </div>
          <button type="button" class="btn btn-danger mx-5 text-white">Get Started</button>
        </div>
      </div>
      <div class="carousel-item">
        <div class="image-container image-2">
          <div class="text-overlay m-5">
            <h1 class="">OR BE THAT BEST ARTIST</h1>
          </div>
          <button type="button" class="btn btn-danger mx-5 text-white">Get Started</button>
        </div>
      </div>
    </div>
</div>
  

{% endblock %}